
html{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
	
	font-family: 'Lato', verdana, sans-serif;
}
img, embed, object, video {
	max-width:100%;
    height:auto;
}
#wrapper {
	min-height:100%;
	height: auto;
	position:relative;
}
#header {
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 100%;
}
#game_area {
	display: block;
	width: 80%;
	margin-left:5%;
	font-weight: 300;
    font-size: 1.2em;
}

#currStreak {
	float:left;
}
#bestStreak {
	float: right;
    width: 200px;
}
#streakDetails{
	height: 5%;
}
#query {
	font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 8px;
	width: 100%;
}
.streak {
	font-family: courier, 'Lato', verdana, sans-serif;
	font-weight: 300;
    font-size: 0.8em;
	clear: left;
	float: right;
}
#current {
	padding-right: 120px;
}

#wrong_choices {
	position: relative;
	text-decoration: line-through;
	float: right;
	margin-top: 10%;
	font-size: 0.8em;
}

#play_again {
	min-height:25px;
	margin-top: 5%;
	margin-bottom: 15px;
}
#play_again button {
	padding: 8px 20px 8px 20px;
	margin-bottom: 15px;
	border: 1px solid #a1a1a1;
    border-radius: 3px;
    font-size: 0.7em;
	color: #ffffff;
	background-color: #281a16;
	cursor: pointer; cursor: hand; 
}

#choice{
	clear: both;
	padding-top: 10%;
	margin-left: 30%;
	text-align: center;
}
#play_area{
	clear: both;
	min-height:40%;
	text-align: center;
	margin-top: 20%;
	/* padding-top: 20%; */
}
#cartoon img {
	position: absolute;
	padding-bottom: 3%;
	float: left;
	padding-left: 5%;
	/* margin-top: -10%; */
}

#footer {
	position: absolute;
	display: block;
	bottom:0;
	margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
	width:100%;
	clear: both;
}

.keys{
	padding: 7px;
	/* margin: 5px */
}
.chancesLeft {
	position: relative;
    opacity: 0.25;
    font-size: 1em;
    z-index: 1000;
	float: left;
	margin-top: 10%;
	width: 40%;
}
#chanceDiagram{
	height: 20%;
	clear: both;
}

